.container {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  /* 가로축 */
  justify-content: start;
  /* 세로축 */
  align-items: end;
}

.box {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}

.icon {
  display: flex;
  flex-direction: column;
  /* 안에 있는 내용만큼 넓이 차지 */
  width: fit-content;
  justify-content: center;
  align-items: center;
  /* 자식들의 간격 */
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 8px;
}
