.container {
  width: 100vw;

  /* padding: 10px 0px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.contents {
  width: 100%;
  background-color: black;
  max-width: 800px;
  margin: 0 auto;
}
