.th_thou {
  color: white;
  background-color: cornflowerblue;
  border-radius: 7px;
  padding: 5px 30px;
  border: 1px solid cornflowerblue;
  font-size: large;
}
.two_thou {
  color: white;
  background-color: cornflowerblue;
  border-radius: 7px;
  padding: 5px 30px;
  border: 1px solid cornflowerblue;
  font-size: large;
}
.share {
  color: rgb(107, 107, 107);
  background-color: rgb(235, 235, 235);
  border-radius: 7px;
  padding: 5px 20px;
  border: 1px solid rgb(231, 231, 231);
  font-size: large;
}
.share_icon {
  color: gray;
  font-size: large;
}
