/* .login {
  color: white;
  background-color: black;
  padding: auto;
  font-size: 30px;
  font-weight: bold;
}
.kakao {
  color: black;
  background-color: rgb(180, 180, 71);
  padding: auto;
  font-size: 30px;
  font-weight: bold;
} */

.kakao {
  background-color: #fde500;
  border: 1px solid #fde500;
  padding: 12px 80px;
  font-weight: 700;
  border-radius: 7px;
}
.apple {
  background-color: white;
  border: 1px solid black;
  padding: 12px 80px;
  font-weight: 700;
  border-radius: 7px;
}
