
body{
    height: 300vh;
    background-color: bisque;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}
.box{
    width: 100px;
    height: 100px;
}

.color1{
    background-color: red;
    position: fixed;
    top: 0px;
}
.color2{
    background-color: black;
    position: relative;
}
.color3{
    background-color: rgb(104, 54, 54);
    position: relative;
    top: 30px;
    left: 50px;
    z-index: 1;
}
.color4{
    background-color: rgb(117, 49, 49);
    /* 포지션 위치 조정 속성 top, bottom .left, right필수 */
    /* relative(상대): 지금 위치에서 */
    position: relative;

}

.text{
    /* absolute는 부모가 포지션이 relative이면 거기서 기준을 잡음 */
    position: absolute;
    left: 10px;
}
